.ant-card {
    margin-bottom: 20px;
}

.ant-card-head {
    padding: 0 @card-head-padding;
    margin-bottom: -1px;
    min-height: @card-head-height;
    border-bottom: 0;
    font-size: 17px;

    .ant-tabs-bar {
        border-bottom: 1px solid @border-color-base;
    }

    .ant-tabs {
        margin-bottom: -21px;
    }
}

.ant-card-head-title {
    font-weight: @font-weight-bold;
    padding-bottom: 0;
    padding-top: @card-head-padding - 4px;
}

.ant-card-extra {
    padding-top: @card-head-padding;
    padding-bottom: 0;
}

.ant-card-bordered {
    border: 1px solid @border-color-base;
    
    // & when (@theme = dark) {
    //     border-color: transparent;
    //     background: @border-color-dark-upper;
    // }
}

.speech {    
    margin-bottom: 20px;
}

.is-correct {
    background-color: #6ed86e;
    & when (@theme = dark) {
        background-color: #143f14;
    }
} 

.is-not-correct {
    background-color: #effa8f;
    & when (@theme = dark) {
        background-color: #772b07;
    }
}

.speech-result {
    color: black !important;
}

.ant-card-meta-title {
    font-weight: @font-weight-bold;
}

.ant-card-meta-detail-progress{
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-completed-meta {
    color: #ffffff !important;
}

.student-count-card {
    font-size: 190px;
    font-weight: 700;
    color: #3e82f7;
    text-shadow: 
        1px 1px 0px #ccc, /* Light gray shadow for highlight */
        2px 2px 2px rgba(0, 0, 0, 0.2), /* Slightly darker shadow */
        3px 3px 4px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.double-count-card {
    font-size: 120px;
    font-weight: 700;
    text-shadow: 
        1px 1px 0px #ccc, /* Light gray shadow for highlight */
        2px 2px 2px rgba(0, 0, 0, 0.2), /* Slightly darker shadow */
        3px 3px 4px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.double-count-card-first {
    color: #3e82f7;
}

.double-count-card-second {
    color: #e35aff;
}


.ant-card-type-inner {

    .ant-card-head {
        & when (@theme = light) {
            background: @gray-lightest;
        }

        & when (@theme = dark) {       
            background: @border-color-dark-upper;
        }
    }
}

.responsive-image {
    width: 'auto';
    // max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  @media (max-width: 480px) {
    .responsive-image {
      max-width: 150px; /* Example for smaller screens */
    }

    .student-count-card {
        font-size: 150px;
        font-weight: 700;
        color: #3e82f7;
        text-shadow: 
            1px 1px 0px #ccc, /* Light gray shadow for highlight */
            2px 2px 2px rgba(0, 0, 0, 0.2), /* Slightly darker shadow */
            3px 3px 4px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }
  }
  